/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Center content vertically and horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Viewport height */
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: #322;
    order: -1; /* Move h1 to the left */
}

/* Style the main content */
.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px; /* Add some space between header and content */
    margin-bottom: 20px; /* Add some space between footer and content */
}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Style the navigation bar */
nav {
    background-color: #c98989;
    color: #fff;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Style your editor and rendered content container as needed */
#editor-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c98989;
    border: 1px solid #c98989;
}

#text-input {
    width: 70%;
    height: 300px;
    padding: 10px;
    margin: 10px;
}

#render-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


#output {
    margin: 20px;
    min-height: 100px;
    border: 1px solid #c98989;
}

.button-upload {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 85px;
    min-width: 335px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 50px;
    font-weight: 600;
    font-size: 25px;
    background: #2e5bf6;
    line-height: 30px;
    vertical-align: middle;
    color: #ffffff!important;
    text-decoration: none;
    margin-bottom: 15px;
    -webkit-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
    transition: background-color .15s linear;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: 0 4px 7px 0 rgba(0,0,0,.15);
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.15);
    -ms-flex-order: 2;
    order: 2;
    max-width: 65vw
}

.button-upload:hover {
    background-color: #1c3cb9;
    color: #ffffff!important;
    text-decoration: none
}

.upload-droptxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
/*
#upload {
    position: relative;
    width: 600px; /* Set to the width you want 
    height: 800px; /* Set to the height you want 
    overflow: hidden;
}

#upload iframe {
    position: absolute;
    top: -50px; /* Adjust as needed 
    left: -50px; /* Adjust as needed 
}
*/