.pdf-page.file-selected {
    display: flex;
    flex-direction: column;
}

#closeButton {
    order: -1;
    align-self: flex-end;
}

#add-more-files {
    background: #2e5bf6;
    border-radius: 50%; /* Make it a circle */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

#add-more-files:hover {
    background-color: #1c3cb9;
    color: #ffffff!important;
    text-decoration: none
}

/* Initially hide the tooltip */
.tooltip {
    /* display: none; */
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    z-index: 1;
}

/* Show the tooltip when hovering over add-more-files */
#add-more-files:hover .tooltip {
    display: block;
}

