<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/pdfcompress.css') }}">

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <div id="myLinks">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="pdfcrop.html">PDF Crop</a></li>
                    <li><a href="{{ url_for('pdf_compress')}}">PDF Compress</a></li>
                    <li><a href="pdfmerge.html">PDF Merge</a></li>
                    <li><a href="pdfsplit.html">PDF Split</a></li>
                </ul>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        </nav>
        <h1>PDF Tools</h1>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2023 Your Website. All rights reserved.</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src=" {{ url_for('static', filename='assets/js/base.js') }}"></script>
    {% block scripts %}{% endblock %}
    </body>
</html>